<header class="main-header">
  <img ngSrc="logo.png" width="240" height="100" />
  <nav>
    <div class="container-option">
      <img ngSrc="logo.png" width="32" height="32" />
      <p class="container-p-space" >Primeira opção</p>
    </div>
    <div class="container-option">
      <img ngSrc="logo.png" width="32" height="32" />
      <p class="container-p-space">Segunda opção</p>
    </div>
    <div class="container-option">
      <img ngSrc="logo.png" width="32" height="32" />
      <p class="container-p-space">Terceita opção</p>
    </div>
  </nav>
</header>
